/.tmp
/.web
/node_modules
/public_html/hot
/public_html/storage
/public_html/js
/public_html/css
/storage/*.key
/storage/*.json
/vendor
.env
.env.dev
.env.prod
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
